<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QRCode Generator</title>
    <style type="text/css" media="screen">
        @import url("/assets/Semantic-UI-CSS/semantic.css");
    </style>
</head>
<body>
    <div class="ui attached stackable menu">
        <div class="ui container">
            <a href="" class="item">
                <i class="home icon"></i>Home
            </a>
            <a href="" class="item">
                <i class="setting icon"></i>Settings
            </a>
            <a href="" class="item">
                <i class="qrcode icon"></i>QRCode
            </a>
        </div>
    </div>
</body>
</html>